
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Admin</span>
        <div>
            <button  class="btn btn-primary"><a href="admin" style="text-decoration:none;color:white">Home</a></button>
            <button  class="btn btn-primary"><a href="admin/route" style="text-decoration:none;color:white;font-weight:  bold;">Route</a></button>
            <button class="btn btn-primary" (click)="logoutclick()" >Log Out</button>
        </div>
    </div>
</nav>
<div class="nav-search">
    <nav style="text-align: center" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <form class="d-flex" style="margin:auto;">
                <input class="form-control me-5" type="search" placeholder="Type to search here" aria-label="Search">
                <button style="margin-right: 10px" class="btn btn-outline-success" type="submit">Search</button>
  
            </form>
        </div>
    </nav>
</div>
<div class="container">
    <div class="flex-container" *ngIf="data1">
    <div class="card-class" *ngFor="let item of data1">
        <div>
            <div>{{item.startPoint}}</div>
            <div>to</div>
            <div>{{item.endPoint}}</div>
            <div>Date - {{item.date}} </div>
            <div>Time - {{item.time}}</div>
            <div ><span style="margin-right: 20px;">{{item.distance}} km </span> <span style="color: rgb(0, 255, 13);font-weight: 500;">filled {{item.seats}}-seats</span></div>
            <div>{{item.vehicleModel}}</div>
            <pre><button class="btn-danger" (click)="deleteRoute(item)">delete</button>  <button class="btn-danger" (click)="editRoute(item)">Edit</button></pre>
            <span>{{item.vehicleNumber}}</span>
        </div>
    </div>
    </div>
    

 <div class="cardupdate">
 
    <div>
        <div style="text-align: center;"><h4>Update-Add</h4></div>
    
            <input type="text" placeholder="start" name="startPoint" [(ngModel)]="startPoint" required >
            <br><br>
            <input type="text" placeholder="end" name="endPoint" [(ngModel)]="endPoint" required >
            <br><br>
            <input type="date" placeholder="date"  name="date" [(ngModel)]="date" required >
            <br><br>
            <input type="time" placeholder="time" name="time" [(ngModel)]="time" required  >
            <br><br>
            <input type="number" placeholder="seats" name="seats" [(ngModel)]="seats" required  >
            <br><br>
            <input type="text" placeholder="distance" name="distance" [(ngModel)]="distance" required >
            <br><br>
            <input type="text" placeholder="mobile" name="mobileNumber" [(ngModel)]="mobileNumber" required  >
            <br><br>
            <input type="text" placeholder="Car Model" name="vehicleModel" [(ngModel)]="vehicleModel" >
            <br><br>
            <input type="text" placeholder="Vehicle Number" name="vehicleNumber" [(ngModel)]="vehicleNumber">
            <br><br>
            <div><button type="button" class="btn btn-success" (click)="updateRoute()">Update</button></div><br>
            <div><button class="btn btn-success" type="button" (click)="addclick()">Add</button></div>
    
 </div>
</div>
</div>
