<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Admin</span>
        <div>
            <button  class="btn btn-primary"><a href="admin" style="text-decoration:none;color:white">Home</a></button>
            <button  class="btn btn-primary"><a href="admin/route" style="text-decoration:none;color:white">Route</a></button>
            <button class="btn btn-primary">Log Out</button>
        </div>
    </div>
</nav>
<div class="container">
 <div class="card-class" style="display: grid;grid-template-columns:auto auto;">
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>
    <div style="text-align:center;font-size: 20px;font-weight: 500;padding:10px 10px;margin: 20px 20px;background-color:#e4decd;border-radius:10px;width:fit-content;height:auto">
        <div>Place  -  {{data.source}}</div>
        <div>Place  -  {{data.destination}}</div>
        <div>{{data.time}}</div>
        <div ><span style="margin-right: 20px;">{{data.distance}}</span> <span style="color: rgb(0, 255, 13);font-weight: 500;">{{data.seats}}-seats</span></div>
        <div>{{data.carmodel}}</div>
        <span style="margin-right: 20px;"><button class="btn btn-danger">delete</button></span><span>{{data.registration}}</span>
    </div>

 </div>
 <div class="cardupdate" style="margin: 50px 50px;">
 
    <div style="background-color: #e4decd; width:300px;border-radius: 10px;height: auto" >
        <div style="text-align: center;"><h4>Update-Add</h4></div>
    
            <input type="text" placeholder="start"  style="padding:10px;margin:10px;width:100px;border-radius: 10px;border:none;border-radius: 2px;height:15px;">
            <input type="text" placeholder="end" style="padding:10px;margin: 10px;width:100px;border-radius: 10px;border:none;border-radius: 2px;height:15px;">
            <br>
    
            <input type="text" placeholder="date" style="padding:10px;margin: 10px;width:100px;border-radius: 10px;border:none;border-radius: 2px;height:15px;">
            <input type="text" placeholder="time" style="padding:10px;margin: 10px;width:100px;border-radius: 10px;border:none;border-radius: 2px;height:15px;">
            <br>
            <input type="text" placeholder="seats" style="padding:10px;margin: 10px;width:100px;border-radius: 10px;border:none;border-radius: 2px;height:15px;">
            <input type="text" placeholder="distance" style="padding:10px;margin: 10px;width:100px;border-radius: 10px;border:none;border-radius: 2px;height:15px;">
            <br>
            <input type="text" placeholder="Car Model" style="padding:10px;margin: 10px;width:100px;border-radius: 10px;border:none;border-radius: 2px;height:15px;">
            <input type="text" placeholder="Car Registration No" style="padding:10px;margin: 10px;width:auto;border-radius: 10px;border:none;border-radius: 2px;height:15px;">
            <div><button style="margin-left: 30%;" type="button" class="btn btn-success">Update</button></div>
    </div>
    
 </div>
</div>
