<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">User</span>
        <div>
            <button  class="btn btn-primary"><a href="userhome" style="text-decoration:none;color:white;font-weight: bold;">Home</a></button>
            <button  class="btn btn-primary"><a href="user/profile" style="text-decoration:none;color:white">Profile</a></button>
            <button class="btn btn-primary" (click)="userlogout()">Log Out</button>
        </div>
    </div>
</nav>
<nav style="text-align: center" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" style="margin:auto;">
            <input class="form-control me-5" type="search" placeholder="Type to search here" aria-label="Search">
            <button style="margin-right: 10px" class="btn btn-outline-success" type="submit">Search</button>

        </form>
    </div>
</nav>
<div *ngIf="!data.length">
    <p style="text-align: center;">Sorry,no routes available currently,..please try again after some time</p>
</div>
<div class="container">
 <div   class="flex-container" >
    <div *ngFor="let item of data" >
        <div style="font-weight: bold;font-size: large;">{{item.startPoint}}</div>
        <div>to</div>
        <div style="font-weight: bold;font-size: large;">{{item.endPoint}}</div>
        <div>{{item.date}} </div>
        <div>{{item.time}} </div>
  
        <div ><span>distance : {{item.distance}} km </span> <span style="color: rgb(0, 255, 13);font-weight: 500;">filled {{item.seats}}-seats</span></div>
        <div ><span>Vehicle Model : {{item.vehicleModel}}</span></div>
        <div ><span >Vehicle Number : {{item.vehicleNumber}}</span></div>
      
        <span style="margin-right: 20px;"><button class="btn btn-danger" (click)="book(item)">book</button></span>

        </div>
       
    
    </div>
    

 
 <div *ngIf="bookdata">
    <div class="cardupdate" >
 
        <div>
        <div>Place - <span style="font-size:20px;font-weight: 500;">{{bookdata.startPoint}} </span>to Place- <span>{{bookdata.endPoint}}</span></div>
        <div ><span style="font-size:20px;font-weight: 500;">{{bookdata.vehicleModel}}</span></div>
        <div >{{bookdata.vehicleNumber}}</div>
        <div >{{bookdata.date}} {{bookdata.time}}</div>
        <div ><button class="btn btn-success" (click)="saveBooking(bookdata)">book</button></div>
        <div ><button class="btn btn-success" (click)="cancelBooking(bookdata)">Cancel</button></div>
        <div ><h3>Contact</h3>
            <p>Name: {{bookdata.drivername}}</p>
            <p>Contact : +91 {{bookdata.mobileNumber}}</p>
        </div>
        
        </div>
        
     </div>
 </div>
 

</div>
